/* .rangeWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.progress,
.slider {
  position: absolute;
  width: 100%;
  height: 5px;
  top: 107px;
  border-radius: 6px;
}

.progress {
  background-color: #ddd;
}
.slider {
  background-color: rgb(66, 137, 184);
}
.range {
  position: absolute;
  width: 100%;
  height: 2px;
  -webkit-appearance: none;
  background: none;
  top: 100px;
  border: none;
  pointer-events: none;
}

input[type="range"] {
  padding-left: 0;
  padding-right: 0;
}

input[type="range"]::-webkit-slider-thumb {
  height: 17px;
  width: 17px;
  border-radius: 50%;
  -webkit-appearance: none;
  pointer-events: auto;
  background-color: aqua;
  margin-left: 0px;
} */
