@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* variables */
:root {
  --heading-color: #444;
  --text-color: #999;
  --primary-color: #64a6f2;
  --highlight-color: #d13267;
  --bg-color: #f4f4f4;
}

html {
  font-size: 62.5%;
}

/* base styles */
body {
  font-family: Poppins, sans-serif;
  margin: 0;
  font-size: 1.5rem;
  background: var(--bg-color);
}
ul,
li,
p,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}

/* layout */
.page-title {
  font-size: 1em;
  color: var(--heading-color);
  display: inline-block;
}
.btn {
  background: #fff;
  padding: 8px 12px;
  border-radius: 4px;
  color: var(--primary-color);
  cursor: pointer;
  font-size: 1em;
  border: 1px solid var(--primary-color);
}
.btn:hover {
  color: #fff;
  background-color: var(--primary-color);
}

/* forms */
label {
  display: block;
  margin: 24px auto;
}
label span {
  display: block;
  margin-bottom: 6px;
}
input,
textarea {
  padding: 8px 6px;
  font-size: 1.3em;
  color: #777;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 4px;
}
textarea {
  min-height: 160px;
}
.error {
  color: red;
  background: pink;
  border: 1px solid red;
  border-radius: 4px;
  padding: 8px;
  margin: 10px 0;
}

@media (max-width: 900px) {
  html {
    font-size: 55%;
  }

  body {
    font-size: 1.55em;
  }

  .project-details {
    display: flex;
    flex-direction: column;
  }
}

.pages-margin {
  margin-left: 20rem;
  margin-right: 20rem;
}

@media (max-width: 900px) {
  .pages-margin {
    margin-left: 11rem;
  }
}

@media (max-width: 720px) {
  .pages-margin {
    margin-right: 10rem;
  }
}

@media (max-width: 680px) {
  .pages-margin {
    margin-right: 8rem;
    margin-left: 8rem;
  }
}

@media (max-width: 620px) {
  .pages-margin {
    margin-right: 0.5rem;
    margin-left: 8rem;
  }
}
